html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mouse-coords {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(20, 114, 119);
  padding: 6px;
  border-radius: 4px;
  font-family: monospace;
}


#map {
  height: 98.5vh;
  width: 100%;
   overflow: hidden;
}

.leaflet-control.mouse-coords {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px;
  border-radius: 4px;
  font-family: monospace;
}