html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mouse-coords.leaflet-control {
  background-color: rgba(202, 32, 32, 0.6) !important;
  color: rgb(255, 255, 255);
  padding: 6px;
  border-radius: 4px;
  font-family: monospace;
}

#map {
  height: 98.5vh;
  width: 100%;
   overflow: hidden;
}

.leaflet-control {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px;
  border-radius: 4px;
  font-family: monospace;
}

.leaflet-container .leaflet-control-attribution{
    background-color: rgba(0, 0, 0, 0.6);
}